@import "./variables";
@import "./header";
@import "./home";
@import "./about";
@import "./menu";
@import "./contact";
@import "./footer";
@import "./responsive";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $colour0;
    font-family: $font0;
    font-weight: 400;
    color: $colour1;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100vh;
    //css Smooth Scrool
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
//Sections Titles
h1{
    font-family: $font1;
    font-weight: 400;
    z-index: 1;
    font-size: 5rem;
    text-align: center;
}

.discover{
    text-align: center;
    line-height: 1.0;
    margin-bottom: 5%;
    p{
        letter-spacing: 8pt;
        font-size: 1.2rem;
    }
}
//Sections 
section{
    margin: 0 8%;
    margin-bottom: 12%;
    
}
img{
    width: 100%;
}
//Buttons
button{
    padding: 10px 22px;
    color: $colour2;
    border: 0.9px solid $colour2;
    background: $colour0;
    font-family: $font1;
    font-size: 16px;
    transition: all 0.25s ease-in;
    cursor: pointer;
&:hover{
    background: $colour2;
    color: $colour0;
}
}

